@import "tailwindcss";

html,
body,
#root {
  height: 100%;
  margin: 0;
}
.food-item {
  opacity: 0;
  transform: translateY(80px) scale(0.8);
  transition: all 0.8s ease;
}

.food-item.show {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.from-left {
  align-self: flex-start;
}

.from-right {
  align-self: flex-end;
}

.from-center {
  align-self: center;
}
.login-card {
  opacity: 0;
  transform: scale(0.85) translateY(60px);
  transition: all 0.9s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.login-card.show {
  opacity: 1;
  transform: scale(1) translateY(0);
}